header{
    background-color:807CE1;

    float: left;
    z-index: 99999;
    width: 100%;
}

.conteudo{
    z-index: 1;
    position: relative;
    float: left;
    width:100%;
    text-align: center;
}

header .menu{
    float: left;
    line-height: 60px;
}

*{
    box-sizing: border-box;
}

header .logo, footer .logo{
    width: 200px;
    height: 50px;
    float: left;
    background-image: url('https://cdn3.f-cdn.com//files/download/78757157/Vanamo_Logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
#inicio{
    background-color: white;
    width: 100vw;
    float: left;
}
header img#logo{
    width: 200px;
    padding: 15px;
    padding-top: 30px;
    display: block;
}
header div.sociais{
    width: 120px;
    height: 50px;
    display: block;
    position: absolute;
    top: 5%;
    right: 40%;
}
header div.sociais>a>img{
    width: 20px;
}
header a#icone{
    display: block;
    position: absolute;
    top: 2%;
    right: 0%;
    padding-right: 20px;
}


header .menu a{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding:0 15px;
}

body{
    margin:0;
}

footer{
    position: relative;
    bottom: 0;
    float: left;
    width: 100%;
    left: 0;
    border-radius: 30px 30px 0px 0px;
    background-color:FD8F01;
}

footer h2{
    color: white;
    font-size: 1em;
    font-weight: lighter;
    text-align: center;
}

#slides, .owl-carousel{
    z-index: 2;
    height: 800px;
    float: left;
    width: 100%;
}

.owl-carousel{
    height: auto;
}

.owl-carousel .item{
    background-color: #eee;
    height: 300px;
}

div.patrocinio>a>img{
    display: inline;
    width: 100px;
    height: 50px;
    margin: 20px;
}
.categorias{
    background-color: 807CE1;
    height: 300px;
}
div.categorias>div.cat>a>img{
    display: inline;
    width: 210px;
    height: 180px;
    margin: 20px;
}
.categorias>h1{
    color: white;
    font-family: sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    padding-top: 15px;
    padding-left: 0px;
    text-align: justify;
}
div.cat{
    display: inline;
    
}
div.categorias>div.cat>a>h3{
    display: inline;
    background-color: D9D9D9;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: lighter;
    margin: 20px;
}

div.sobre{
    background-color: white;
    height: 300px;
}
div.sobre>h2{
    background-color: 807CE1;
    color: white;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: 400;
    width: 300px;
    margin-left: 50px;
    border-radius: 5px;
}
div.sobre>img{
    display: block;
    margin-left: 5%;
    width: 300px;
}
div.sobre>div>p{
    text-align: justify;
    display: block;
    margin-left: 40%;
    width: 500px;
}
@media screen and (min-width: 1024px){
    header, footer{
      
    }
    
    header .menu{
        padding: 0 15px;
        width: calc(100% - 240px);
        margin-left: 40px;
    }

    header button{
        display:none;
    }
}

@media screen and (max-width: 1023px){
    header button,
    header button span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
    }
    header button {
        position: relative;
        width: 40px;
        z-index: 99999;
        height: 35px;
        -webkit-appearance: none;
        background-color: transparent;
        padding: 0;
        border: none;
        float: right;
        margin-right: 20px;
        margin-top: 15px;
    }
    header button span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: FD8F01;
        border-radius: 4px;
    }
    header button span:nth-of-type(1) {
        top: 0;
    }
    header button span:nth-of-type(2) {
        top: 15px;
    }
    header button span:nth-of-type(3) {
        bottom: 0;
    }
    header button.active span:nth-of-type(1) {
        -webkit-transform: translateY(20px) rotate(-45deg);
        transform: translateY(20px) rotate(-45deg);
    }
    header button.active span:nth-of-type(2) {
        opacity: 0;
    }
    header button.active span:nth-of-type(3) {
        -webkit-transform: translateY(-11px) rotate(45deg);
        transform: translateY(-11px) rotate(45deg);
    }

    header{
        width: 100%;
        height: 70px;
        padding:0;
    }
    .categorias{
        background-color: 807CE1;
        height: 230px;
    }
    div.categorias>div.cat>a>img{
        display: inline;
        width: 130px;
        height: 120px;
        margin: 20px;
    }
    .categorias>h1{
        color: white;
        font-family: sans-serif;
        font-size: 1em;
        font-weight: 400;
        padding-top: 15px;
        padding-left: 40px;
        text-align: justify;
    }
    div.categorias>div.cat>a>h3{
        display: inline;
        text-decoration: none;
        background-color: D9D9D9;
        border-radius: 5px;
        font-size: 1em;
        font-weight: lighter;
        margin: 20px;
    }

    footer {
        padding: 20px;
    }

    footer .logo{
        width: 100%;
        height: 60px;
    }

    header .menu{
        width: 100%;
        position: absolute;
        margin-top: 70px;
        max-height: 0px;
        z-index: 999999;
        overflow: hidden;
        transition: all 0.3s;
        background-color: #333;
    }

    header .menu.active{
        max-height: 2000px;
        transition: all 0.3s;
    }

    header .menu a{
        width: 100%;
        float: left;
        line-height: 30px;
    }

    header .logo{
        width: 50px;
        margin-top: 10px;
        margin-left: 20px;
    }

}
