@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400&display=swap');

:root{
    --cor1: #807ce1;
    --cor2: #8b86ff;
    --cor3: #fd8f01;
    --cor4: #c36004;
    --cor5: #d9d9d9;
}

*{
    padding: 0px;
    margin: 0px;
    outline: 0px;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: white;
    font-family:'Itim', cursive;
}

header>div{
    background-color: white;
    width: 100vw;
    background-color: #C36004;
}

div img#logo{
    width: 200px;
    display: block;
    padding: 20px;
}

header>div>div.sociais{
    display: block;
    background-color: #807ce1;
    position: absolute;
    top: -50%;
    transform: translateY(-50%);
}

div a#icone{
    text-decoration: none;
    margin: right;
    text-align: right;
    padding-bottom: 5px;
}

div a#icone:hover{
    text-decoration: underline;
    color: #8b86ff;
    font-size: 1.1em;
    transition-duration: 0.3s;
}
main{
    margin-top: 100px;
}
main h1{
    text-align: center;
    color: #c36004;
    font-weight: normal;
}

main div{
    margin: auto;
    padding: 20px;

}

div a.login{
    background-color: rgba(127, 124, 225, 0.104);
    display: inline-block;
    border-radius: 30px;
    width: 800px;
    height: 30px;
    text-align: center;
}

div a>img{
    width: 20px;
    height: 20px;
    margin-top: 7px;
    margin-right: 8px;
}

div a:hover{
    color: var(--cor2);
    text-decoration: underline;
    font-size: 1.2em;
    transition-duration: 0.3s;
}


main h2{
    color: var(--cor1);
    font-size: 24px;
    font-weight: normal;
    padding: 10px;
}

main form>p{
    text-align: left;
    padding: 10px;
}

main form>input{
    background-color: rgba(128, 124, 225, 0.10);
    border: 0px;
    border-radius: 30px;
    width: 800px;
    height: 30px;
}

form #botao{
    background-color: var(--cor2);
    border-radius: 40px;
    width: 200px;
    height: 50px;
    color: white;
    font-size: 1.2em;
    display: block;
    margin: auto;
    text-align: center;
}

main a{
    text-decoration: none;
}

main form>a:hover{
    color: var(--cor2);
    text-decoration: underline;
    font-size: 1.2em;
    transition-duration: 0.3s;
}

main p{
    text-align: center;
    color: #C36004;
    font-size: 17px;
    font-weight: 400px;
    padding: 20px;
}

footer{
    width: 100vw;
    background-color: var(--cor3);
    color: white;
    font-family: 'Manjari', sans-serif;
    font-weight:100;
    text-align: center;
    font-size: 0.7em;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}






body, html{
    background-color: rgba(120, 105, 133, 0.196);
    height: 100vh;
    width: 100vw;

}
header>div{
    width: 100vw;
    background-color: white;
}

header img#logo{
    width: 200px;
    padding: 15px;
    display: block;
}
header div.sociais{
    display: block;
    position: absolute;
    top: 2%;
    right: -50%;
}

header a#icone{
    background-color: #6c1818;
    display: block;
    position: absolute;
    top: 2%;
    right: 40%;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

